<editor-row query-ctrl="ctrl">
    <div class="gf-form-inline" style="align-items:flex-start;">
        <div class="gf-form" style="width:80%;align-items:flex-start;">
            <label class="gf-form-label query-keyword">
                Query:
            </label>
            <input type="text" class="gf-form-input" ng-model="editor.panel.query" spellcheck='false' placeholder="hidden:false" ng-blur="editor.panelCtrl.refreshData()"></input>
        </div>
    </div>
</editor-row>

<editor-row class="section" query-ctrl="ctrl">
    <div class="gf-form">
        <label class="gf-form-label">Data Source</label>
        <ul class="tight-form-list">
            <li>
                <select class="tight-form-input input-large last" ng-model="ctrl.panel.datasource" ng-options="ds for ds in editor.datasources"
                    ng-change="editor.datasourceChanged()">
            </select>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</editor-row>

<editor-row query-ctrl="ctrl">
    <div class="gf-form" style="align-items:flex-start;">
        <div class="gf-form">
            <label class="gf-form-label">
                Show Multi-Selection Actions:
                <info-popover>Show the selected incidents form and select boxes when not in fullscreen mode (edit / view). This is always displayed when in fullscreen mode.</info-popover>
            </label>

            <editor-checkbox model="ctrl.panel.showMulti" text=""></editor-checkbox>
            <label class="gf-form-label">
                Show Actions:
                <info-popover>Show actions (add note, acknowledge, close, forget) for the alert</info-popover>
            </label>

            <editor-checkbox model="ctrl.panel.showActions" text=""></editor-checkbox>
        </div>
    </div>
</editor-row>

<editor-row>
    <div class="gf-form">
        <button class="btn btn-inverse " ng-click="ctrl.showHelp=ctrl.showHelp==0 ? 1:0">Bosun Incident Filter Help</button>
    </div>
    <div ng-show="ctrl.showHelp">
        <h2>Overview</h2>
        <p>The open incident filter supports joining terms in <code>()</code> as well as the <code>AND</code>, <code>OR</code>,
            and <code>!</code> operators. The following query terms are supported and are always in the format of <code>something:something</code>:

            <table class="table-panel-table">
                <tr>
                    <th>Term Spec</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td><code>ack:(true|false)</code></td>
                    <td>If <code>ack:true</code> incidents that have been acknowledge are returned, when <code>ack:false</code>                        incidents that have not been acknowledged are returned.</td>
                </tr>
                <tr>
                    <td><code>hasTag:(tagKey|tagKey=|=tagValue|tagKey=tagValue)</code></td>
                    <td>Determine if the tag key, value, or key=value pair. If there is no equals sign, it is treated as a tag
                        key. Tag Values maybe have globs such has <code>hasTag:host=ny-*</code></td>
                </tr>
                <tr>
                    <td><code>hidden:(true|false)</code></td>
                    <td>If <code>hidden:false</code> incidents that are hidden will not be show. An incident is hidden if it
                        is in a silenced or unevaluated state. </td>
                </tr>
                <tr>
                    <td><code>name:(something*)</code></td>
                    <td>Returns incidents where the alert name (not including the tagset) matches the value. Globs can be used
                        in the value.</td>
                </tr>
                <tr>
                    <td><code>user:(username*)</code></td>
                    <td>Returns incidents where a user has taken any action on that incident. Globs can be used in the value</td>
                </tr>
                <tr>
                    <td><code>notify:(notificationName*)</code></td>
                    <td>Returns incidents where a the notificationName is somewhere in either the crit or warn notification chains.
                        Globs can be used in the value</td>
                </tr>
                <tr>
                    <td><code>silenced:(true|false)</code></td>
                    <td>If <code>silenced:false</code> incidents that have not been silenced are returned, when <code>silenced:true</code>                        incidents that have not been silenced are returned.</td>
                </tr>
                <tr>
                    <td><code>start:[<|>](1d)</code> </td>
                    <td>Returns incidents that started before <code><</code> or incidents that started after <code>></code> the
                        relative time to now based on the duration. Duration can be in units of s (seconds), m (minutes),
                        h (hours), d (days), w (weeks), n (months), y (years). If less than or greater than are not part
                        of the value, it defaults to greater than (after). Now is clock time and is not related to the time
                        range specified in Grafana.</td>
                </tr>
                <tr>
                    <td><code>unevaluated:(true|false)</code></td>
                    <td>If <code>unevaluated:false</code> incidents that are not in an unevaluated state are returned, when
                        <code>ack:true</code> incidents that are unevaluated are returned.</td>

                </tr>
                <tr>
                    <td><code>status:(normal|warning|critical|unknown)</code></td>
                    <td>Returns incidents that are currently in the requested state</td>
                </tr>
                <tr>
                    <td><code>worstStatus:(normal|warning|critical|unknown)</code></td>
                    <td>Returns incidents that have a worst status equal to the requested state</td>
                </tr>
                <tr>
                    <td><code>lastAbnormalStatus:(warning|critical|unknown)</code></td>
                    <td>Returns incidents that have a last abnormal status equal to the requested state</td>
                </tr>
                <tr>
                    <td><code>subject:(something*)</code></td>
                    <td>Returns incidents where the subject string matches the value. Globs can be used in the value</td>
                </tr>
            </table>
    </div>
</editor-row>
