<div class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <p>{{action}} the following incident(s)</p>
        </div>
        <div class="modal-content" style="max-height: calc(100vh - 200px); overflow-y: auto;">
            <div class="gf-form-horizontal">
                <div class="gf-form">
                    <label class="gf-form-label width-8">User</label>
                    <input type="text" class="gf-form-input" ng-model="ctrl.actionForm.User" spellcheck='false'></input>
                </div>
                <div class="gf-form">
                    <label class="gf-form-label width-8">Message / Notes</label>
                    <textarea rows="3" class="gf-form-input" ng-model="ctrl.actionForm.Message" spellcheck='false'></textarea>
                </div>
                <div class="gf-form">
                    <editor-checkbox text="Send Notification" model="ctrl.actionForm.Notify"></editor-checkbox>
                </div>
                <div class="gf-form">
                    <button type="submit" class="btn btn-success" ng-click="ctrl.submitActionForm(incidents, action)" data-dismiss="modal">{{action}}</button>
                </div>
            </div>
            <hr>
            <div>
                <h2>Incidents:</h2>
                <table class="table-panel-table">
                    <tr>
                        <td>Incident Id</td>
                        <td>Alert Key</td>
                    </tr>
                    <tr ng-repeat="i in incidents">
                        <td ng-bind="i.Id"></td>
                        <td ng-bind="i.AlertName + i.TagsString"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>