<style>
    td {
        vertical-align: top;
    }
</style>
<div>
    <div style="overflow-y: auto; max-height:600px">
        <table class="table-panel-table" style="vertical-align:top">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th ng-click="ctrl.sortIncidentsByStatus('CurrentStatus')">Current Status</th>
                    <th ng-click="ctrl.sortIncidentsByStatus('WorstStatus')">Worst Status</th>
                    <th>Actions</th>
                    <th>Show Details</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in ctrl.incidentList">
                    <td>
                        <a ng-href="{{i.incidentLink}}" target="_blank" ng-bind="i.Subject"></a>
                        
                    </td>
                    <td ng-bind="i.CurrentStatus" ng-class="ctrl.statusClass('text-', i.CurrentStatus)"></td>
                    <td ng-bind="i.WorstStatus" ng-class="ctrl.statusClass('text-', i.WorstStatus)"></td>
                    <td>
                        <a ng-class="{'disabled': !i.NeedAck}" class="btn btn-inverse btn-small" ng-click="ctrl.showActionForm(i, 'ack')" target="_blank">Ack </a>
                        <a ng-class="{'disabled': i.CurrentStatus != 'normal'}" class="btn btn-inverse btn-small" ng-click="ctrl.showActionForm(i, 'close')" target="_blank">Close </a>
                        <a ng-class="{'disabled': i.CurrentStatus != 'unknown'}" class="btn btn-inverse btn-small" ng-click="ctrl.showActionForm(i, 'forget')" target="_blank">Forget </a>
                    </td>
                    <td>
                        <a class="btn btn-inverse btn-small" ng-click="ctrl.showActions(i)">Actions</a>
                        <a class="btn btn-inverse btn-small" ng-click="ctrl.showBody(i)">Body</a>
                        <a class="btn btn-inverse btn-small" ng-click="ctrl.showEvents(i)">Events</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>