<datasource-http-settings current="ctrl.current">
</datasource-http-settings>
<div class="gf-form-group">
	<div class="gf-form">
		<span class="gf-form-label">Enable Query Helper 		<info-popover>This enables the the OpenTSDB query helper when using the datasource. If you are using Bosun with OpenTSDB and are indexing your OpenTSDB data to Bosun, you can use this to build q() functions based on the metadata Bosun has.</info-popover></span>
		<editor-checkbox text="" model="ctrl.current.jsonData.enableQueryHelper"></editor-checkbox>
	</div>
	<div class="gf-form">
		<span class="gf-form-label">Enable pre-release features 		<info-popover>This enables new features that depend on unreleased versions of Bosun. If you're running of a recent build, you can enable those new features now.</info-popover></span>
		<editor-checkbox text="" model="ctrl.current.jsonData.enablePreReleaseFeatures"></editor-checkbox>
	</div>
</div>

<div class="gf-form-group">
  <div class="gf-form max-width-30">
    <span class="gf-form-label">OpenTSDB URL</span>
    <input type="text" class="gf-form-input" ng-model="ctrl.current.jsonData.openTSDBUrl"
           spellcheck='false'></input>
    <info-popover mode="right-absolute">Required for metric autocompletion</info-popover>
  </div>
</div>

<div class="gf-form-group">
	<div class="gf-form max-width-30">
		<span class="gf-form-label">Annotate URL</span>
		<input type="text" class="gf-form-input" ng-model="ctrl.current.jsonData.annotateUrl"
		spellcheck='false'></input>
		<info-popover mode="right-absolute">Link to root of bosun UI for links to edit annotations. Usually the same as the datasource. To enable annotations in Bosun, you need elastic and something like the following in Bosun's configuration: annotateElasticHosts=http://ny-lselastic01.ds.stackexchange.com:9200,http://ny-lselastic02.ds.stackexchange.com:9200</info-popover>
	</div>
</div>

<div class="gf-form-group">
	<div class="gf-form max-width-30">
		<span class="gf-form-label">Auth Token</span>
		<input type="password" class="gf-form-input" ng-model="ctrl.current.jsonData.authToken"
		spellcheck='false'></input>
		<info-popover mode="right-absolute">If auth is enabled, this token will be used to for requests
			made to bosun. Note that the storage of the token is currently not secure at this time.
		</info-popover>
	</div>
</div>
