<h5 class="section-heading">Filters</tip></h5>
<div class="gf-form-horizontal">
    <div class="gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">Source</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.Source.value' placeholder=""></input>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Empty" model="ctrl.annotation.Source.empty"></editor-checkbox>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Not" model="ctrl.annotation.Source.not"></editor-checkbox>
        </div>
    </div>
    <div class="gr-form gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">Host</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.Host.value' placeholder=""></input>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Empty" model="ctrl.annotation.Host.empty"></editor-checkbox>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Not" model="ctrl.annotation.Host.not"></editor-checkbox>
        </div>
    </div>
    <div class="gr-form gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">CreationUser</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.CreationUser.value' placeholder=""></input>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Empty" model="ctrl.annotation.CreationUser.empty"></editor-checkbox>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Not" model="ctrl.annotation.CreationUser.not"></editor-checkbox>
        </div>
    </div>
    <div class="gr-form gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">Owner</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.Owner.value' placeholder=""></input>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Empty" model="ctrl.annotation.Owner.empty"></editor-checkbox>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Not" model="ctrl.annotation.Owner.not"></editor-checkbox>
        </div>
    </div>
    <div class="gr-form gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">Category</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.Category.value' placeholder=""></input>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Empty" model="ctrl.annotation.Category.empty"></editor-checkbox>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Not" model="ctrl.annotation.Category.not"></editor-checkbox>
        </div>
    </div>
    <div class="gr-form gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">Url</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.Url.value' placeholder=""></input>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Empty" model="ctrl.annotation.Url.empty"></editor-checkbox>
        </div>
        <div class="gf-form">
            <editor-checkbox text="Not" model="ctrl.annotation.Url.not"></editor-checkbox>
        </div>
    </div>
    <div class="gr-form gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-8">Message</span>
            <input type="text" class="gf-form-input max-width-20" ng-model='ctrl.annotation.Message.value' placeholder=""></input>
        </div>
    </div>

    <section class="grafana-metric-options gf-form-group">
        <div class="gf-form-inline ">
            <div class="gf-form ">
                <button class="btn btn-inverse " ng-click="ctrl.showHelp = ctrl.showHelp == 0 ? 1:0;
            " bs-tooltip="'Help with querying Bosun annotations'">Show Annotations Help</button>
            </div>
        </div>
    </section>

    <div class="grafana-info-box span6" ng-show="ctrl.showHelp===1">
        <p>This queries Bosun's annotations if the feature is enabled (which stores data in elastic). All fields above that are queried are ANDed together'. If you select empty, the value of the field will be ignored since you are querying if the field is empty (or not empty if empty and not are checked.) </p>
    </div>

</div>