<section class="grafana-metric-options gf-form-group"">
    <div class="gf-form-inline">
        <div class="gf-form">
            <span class="gf-form-label width-12">
                <i class="fa fa-info-circle"></i>
                <a ng-click="ctrl.panelCtrl.toggleEditorHelp(1);" bs-tooltip="'click to show helpful info'" data-placement="bottom">
                    Variable Interpolation
                </a>
            </span>
        </div>
	</div>
</section>

<div class="editor-row">
	<div class="pull-left" style="margin-top: 30px;">
		<div class="grafana-info-box span6" ng-if="ctrl.panelCtrl.editorHelpIndex === 1">
			<h5>Variable Interpolation</h5>
			<ul>
				<li>$start = replaced with seconds from the end time of Grafana's time selection.</li>
				<li>$ds = replaced by grafana's recommend autodownsample interval.</li>
				<li>Example: q("avg:$ds-avg:rate:os.cpu{host=*bosun*}", "$start", "")</li>
				<li>Note: Since bosun's time is relative to now, the expression is executed as if Grafana's end time is "now".</li>
			</ul>
		</div>

	</div>
</div>


